@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    --white: #fff;
}

html {
    height: 100%;
}

body {
    background: url('/assets/imgs/wallpaperflare.com_wallpaper.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

.container {
    max-width: 1190px;
    width: 100%;
    margin: auto;

    @media only screen and (max-width: 1190px) {
        max-width: 95%;
    }
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.justify-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}


.page-title {
    font-size: 32px;
    color: var(--white);
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(87, 87, 87);
}

.page-content {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(25.5px);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    padding: 24px;

}

.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 48px;

    h5 {
        letter-spacing: 4px;
        color: var(--white);
        text-transform: uppercase;
        -webkit-mask-image: linear-gradient(-75deg,
                rgba(0, 0, 0, 0.6) 30%,
                #000 50%,
                rgba(0, 0, 0, 0.6) 70%);
        -webkit-mask-size: 200%;
        animation: shine 3s infinite;
    }
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}


@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}