<template lang="">
  <div class="film" @click="showDetails">
    <h1 class="film-title">{{ title }}</h1>
    <span class="film-release-date" v-show="film.filmDetails">{{
      releaseDate
    }}</span>
    <div
      class="d-flex justify-between flex-column film-crew"
      v-show="film.filmDetails"
    >
      <div class="opening-crawl">
        <p>
          {{ opening_crawl }}
        </p>
      </div>
      <span>Director: {{ director }}</span>
      <span>Producer: {{ producer }}</span>
    </div>
  </div>
</template>
<script setup>
import { reactive } from "vue";
const props = defineProps({
  title: {
    type: String,
    required: true,
  },
  releaseDate: {
    type: String,
    required: true,
  },
  opening_crawl: {
    type: String,
    required: true,
  },
  director: {
    type: String,
    required: true,
  },
  producer: {
    type: String,
    required: true,
  },
});
const film = reactive({ filmDetails: false });
const showDetails = () => {
  film.filmDetails = true;
};
</script>
<style lang="scss" scoped>
.film {
  max-width: calc(100% / 3 - 16px);
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(25.5px);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  padding: 16px;
  margin-bottom: 16px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  @media only screen and (max-width: 767px) {
    max-width: calc(100%);
  }
  @media only screen and (min-width: 768px) and (max-width: 1190px) {
    max-width: calc(100% / 2 - 16px);
  }
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 16px 32px 0 rgba(255, 255, 255, 0.2);

    @media only screen and (max-width: 767px) {
      transform: scale(1);
    }
  }
  span,
  p {
    color: var(--white);
  }
  .opening-crawl {
    margin-bottom: 8px;
    p {
      padding: 8px 0px;
      border-top: 1px solid #261f1f;
      border-bottom: 1px solid #261f1f;
      font-size: 14px;
    }
  }
  &-title {
    font-size: 24px;
    color: var(--white);
  }
  &-release-date {
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 2px;
  }
  &-crew {
    margin-top: 16px;
    span {
      font-size: 14px;
      &:first-of-type {
        margin-bottom: 4px;
      }
    }
  }
}
</style>
