<template lang="">
  <div class="container">
    <div class="page-content">
      <h1 class="page-title">Films</h1>

      <div class="loader" v-if="films.loading">
        <div class="lds-ripple">
          <div></div>
          <div></div>
        </div>
        <h5>Loading</h5>
      </div>
      <div
        class="films-container d-flex items-start justify-between flex-wrap"
        v-show="films.data"
      >
        <Film
          v-for="film in sortedFilms"
          :key="film.episode_id"
          :title="film.title"
          :releaseDate="film.release_date"
          :opening_crawl="film.opening_crawl"
          :director="film.director"
          :producer="film.producer"
        />
      </div>
    </div>
  </div>
</template>
<script setup>
import { reactive, onBeforeMount, computed, onMounted } from "vue";
import Film from "@/components/Film/Film.vue";
const films = reactive({ data: [], loading: false, error: null });

const getFilms = async () => {
  films.loading = true;
  await fetch("https://swapi.dev/api/films")
    .then((res) => res.json())
    .then((data) => {
      films.loading = false;
      films.data = data;
    });
};
const sortedFilms = computed(() => {
  return films.data.results?.sort(
    (a, b) => new Date(b.release_date) - new Date(a.release_date)
  );
});
onMounted(() => {
  getFilms();
});
</script>
<style lang="scss" scoped>
.films-container {
  margin-top: 24px;
}
</style>
