<template lang="">
  <div class="container">
    <div class="page-content">
      <h1 class="page-title">Startships</h1>

      <div class="loader" v-if="starships.loading">
        <div class="lds-ripple">
          <div></div>
          <div></div>
        </div>
        <h5>Loading</h5>
      </div>
      <div
        class="films-container d-flex items-start justify-between flex-wrap"
        v-show="starships.data"
      >
        <Starship
          v-for="(starship, index) in sortedStarships"
          :key="index"
          :name="starship.name"
          :manufacturer="starship.manufacturer"
          :length="starship.length"
          :max_atmosphering_speed="starship.max_atmosphering_speed"
          :passengers="starship.passengers"
          :cargo_capacity="starship.cargo_capacity"
          :consumables="starship.consumables"
          :hyperdrive_rating="starship.hyperdrive_rating"
        />
      </div>
    </div>
  </div>
</template>
<script setup>
import { reactive, computed, onMounted } from "vue";
import Starship from "@/components/Starship/Starship.vue";
const starships = reactive({ data: [], loading: false, error: null });

const getStarships = async () => {
  starships.loading = true;
  await fetch("https://swapi.dev/api/starships")
    .then((res) => res.json())
    .then((data) => {
      starships.loading = false;
      starships.data = data;
    });
};
const sortedStarships = computed(() => {
  return starships.data.results?.sort(
    (a, b) =>
      parseInt(b.length.replace(",", "")) - parseInt(a.length.replace(",", ""))
  );
});
onMounted(() => {
  getStarships();
});
</script>
<style lang="scss" scoped>
.films-container {
  margin-top: 24px;
}
</style>
