<template lang="">
  <div class="starship" @click="showDetails">
    <h1 class="starship-title">{{ name }}</h1>

    <span class="starship-manufacturer">Manufacturer: {{ manufacturer }}</span>
    <div v-show="starship.starshipDetails">
      <ul
        class="d-flex items-center justify-between flex-wrap starship-details"
      >
        <li>Length: {{ length }}</li>
        <li>Max Atmosphering Speed: {{ max_atmosphering_speed }}</li>
        <li>Passengers: {{ passengers }}</li>
        <li>Cargo Capacity: {{ cargo_capacity }}</li>
        <li>Consumables: {{ consumables }}</li>
        <li>Hyperdrive Rating: {{ hyperdrive_rating }}</li>
      </ul>
    </div>
  </div>
</template>
<script setup>
import { reactive } from "vue";
const props = defineProps({
  name: {
    type: String,
    required: true,
  },
  manufacturer: {
    type: String,
    required: true,
  },
  length: {
    type: String,
    required: true,
  },
  max_atmosphering_speed: {
    type: String,
    required: true,
  },
  passengers: {
    type: String,
    required: true,
  },
  cargo_capacity: {
    type: String,
    required: true,
  },
  consumables: {
    type: String,
    required: true,
  },
  hyperdrive_rating: {
    type: String,
    required: true,
  },
});
const starship = reactive({ starshipDetails: false });
const showDetails = () => {
  starship.starshipDetails = true;
};
</script>
<style lang="scss" scoped>
.starship {
  max-width: calc(100% / 2 - 16px);
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(25.5px);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  padding: 16px;
  margin-bottom: 16px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  @media only screen and (max-width: 767px) {
    max-width: calc(100%);
  }
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 16px 32px 0 rgba(255, 255, 255, 0.2);
  }
  span,
  p {
    color: var(--white);
  }

  &-title {
    font-size: 24px;
    color: var(--white);
  }
  &-manufacturer {
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 2px;
    display: block;
    margin-top: 4px;
    margin-bottom: 16px;
  }
  &-details {
    list-style: none;
    padding-top: 8px;
    border-top: 1px solid #261f1f;

    li {
      color: var(--white);
      max-width: calc(100% / 2 - 16px);
      width: 100%;
      margin-bottom: 8px;
    }
  }
}
</style>
