<script setup>
import Navbar from "./components/Navbar/Navbar.vue";
</script>

<template>
  <div>
    <Navbar />
    <router-view v-slot="{ Component }">
      <transition name="slide-down" mode="out-in">
        <component :is="Component" />
      </transition>
    </router-view>
  </div>
</template>

<style lang="scss">
@import "@/assets/scss/app.scss";
.slide-down-enter,
.slide-down-leave-to {
  opacity: 0;
}

.slide-down-enter-active,
.slide-down-leave-active {
  transition: opacity 0.3s, transform 0.3s ease-in-out;
}
</style>
